* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fcc;
  color: #000;
}

.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 10;
}

.column {
  padding: 12px;
  width: 100%;
}

.column-header {
  background: #555;
  color: aliceblue;
}

.row:nth-child(odd) {
  background-color: azure;
  color: #000;
}

.row:nth-child(even) {
  color: maroon;
}

.chunk {
  margin-bottom: 24px;
}

.chunk-row {
  margin: 24px 0;
  font-weight: bold;
  font-size: 18px;
  color: maroon;
}

input {
  padding: 8px;
  font-size: 16px;
}