* {
  margin: 0;
  padding: 0;
}

body {
  color: #000;
}

h2 {
  color: #000;
  margin-bottom: 12px;
}

input {
  padding: 8px;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: aliceblue;
  width: 100%;
  gap: 10;
}

.header > :first-child {
  margin-right: 12px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  flex-direction: column;
}

.container {
  max-width: 1600px;
  padding: 12px 0;
}

.table {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 10;
}

.column {
  padding: 12px;
  width: 100%;
}

.column-header {
  background: #555;
  color: aliceblue;
}

.row:nth-child(odd) {
  background-color: azure;
  color: #000;
}

.row:nth-child(even) {
  color: maroon;
}

.chunk {
  margin-bottom: 24px;
}

.chunk-row {
  margin: 12px 0;
  font-weight: bold;
  font-size: 18px;
  color: maroon;
  border: 1px dotted gray;
  padding: 12px;
}

.chunk-row + .chunk-row {
  margin-bottom: 12px;
}

.chunk-comparison {
background-color: antiquewhite;
padding: 12px;
margin-top: 12px;
}

.label-header {
  color: #111;
  margin-right: 8px;
}